**/.env

container_monitor/data/*
!container_monitor/data/.gitkeep

log_files/*
!log_files/.gitkeep

loki/chunks/*
!loki/chunks/.gitkeep

loki/index/*
!loki/index/.gitkeep

*.pyc
*.sqlite
*.coverage
.DS_Store
*.idea
